@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Abraham Zakharov<br />
    ayevdayev@albany.edu<br />
    <abbr title="Phone">P:</abbr>
    917.224.2231
</address>

